* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

}



nav ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
nav ul li a:hover{
    text-decoration: underline;
}

.nav {
    background: royalblue;

}

nav ul {
    list-style: none;
    display: flex;
    padding: 15px;
}

nav ul li {
    padding: 10px;
}

.nav h3 {
    float: right;
    color: rgb(252, 244, 244);
    padding: 25px;
    display: inline;
}
.content{
    margin: 10px;
    padding: 10px;
    background: rgb(223, 211, 211);
}
.footer{
    background: black;
    color: white;
    text-align: center;
    padding: 40px;
 
}
.footer ul{
    display: flex;
    float: right;
    list-style: none;
    

}
.footer ul li{
    padding-right: 10px;
    padding-left: 10px;
   
    
}
.footer ul li:hover{
    transform: translateY(-4px);
    transition:0.3s;
    
}
.cg2{
    width: 900px;
    margin: 0px 100px;
}


@media screen and (min-width: 320px)and (max-width: 600px) {
    nav ul {
        flex-direction: column;
    }
    .footer p{
        float: left;
        
    }
    .footer{
        padding: 60px;
    }
.footer ul{
    clear: both;
    align-items: center;
}
.cg2{
    margin :auto;
    width: 90%;
}
}
@media screen and (min-width: 600px) and (max-width: 1050px){
    .cg2{
        width: 75%;
        margin: auto;
        
    }

}